body{
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calendar-wrapper{
    width: 70em;
    height: 40em;
    background-color: aliceblue;
    margin-top: 3em;
    padding: 2em;
    border-radius: 5%;
}

#calendar-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 3em ;
    font-size: 3em;
}
#month-switcher{
    cursor: pointer;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#calendar-wrapper li{
    width: calc(100% / 7);
    text-align: center;
}

#day-names{
    margin: 2em 0;
    display: flex;
}

#day-names li{
    background-color: transparent;
}

#days-num{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
}

#days-num li{
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#days-num li::before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 3em;
    height: 3em;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}
#days-num li:hover::before{
    background-color: lightgrey;
    opacity: 0.6;
}

.active{
    color: white;
}

.active:before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 3em;
    height: 3em;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: plum !important;
    opacity: 1 !important;
}

.inactive{
    opacity: 0.3;
}



